.about {
    min-height: 350px;
    height: 60vh;
    width: 100%;
}

.about-image {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    padding: 16px;
    float: left;
}

.about-content {
    display: inline-block;
    width: 75%;
    top: 50%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.about-text {
    color: #999999;
    font-size: 15px;
}

.about-story {
    display: inline-block;
    top: 50%;
    left: calc(50% + 125px);
    position: absolute;
    float: left;
    transform: translateY(-50%) translateX(-50%);
}

.spacing {
    padding-bottom: 12px;
}

.social-icon {
    color: #999999;
}

.social-icon > i {
    float: left;
    padding: 16px;
}

.social-icon > i:first-child {
    padding-left: 0;
}

@media only screen and (max-width: 1200px) {
    .about {
        min-height: 600px;
    }

    .about-content {
        display: block;
        width: 100%;
        float: unset;
        left: unset;
        top: unset;
        transform: unset;
    }

    .about-image {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .about-story {
        float: unset;
        position: unset;
        width: 100%;
        transform: unset;
    }

    .about-text {
        text-align: center;
    }

    .social-icons {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}