* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #efefef;
}

.right {
    float: right;
}

.projects {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #efefef;
}

.button {
    display: inline-block;
    border: 2px solid #2ecc71;
    border-radius: 5px;
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 16px;
    color: white;
    background-color: #2ecc71;
}

.button > i {
    padding-right: 4px;
}

.fa-arrow-right {
    padding-left: 4px;
}

.button.disabled {
    background-color: #999999;
    border: 2px solid #999999;
}