@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.banner {
    height: 90vh;
}

.bg-center-bottom {
    background-position: center bottom;
}
.project-content-height {
    max-height: 80px;
    transition: max-height .2s;
}
.project-content-height.active {
    max-height: 400px;
}

@media only screen and (max-width: 768px) {
    .project-content-height {
        max-height: 72px;
        transition: max-height .2s;
    }
}
